backend/node_modules/
bank-automat/build/
bank-automat/*.user
bank-automat/RFIDReader/*.user
bank-automat/RFIDReader/build/
bank-automat/PinUI/*.user
bank-automat/PinUI/build/
bank-automat/LoginHandler/*.user
bank-automat/LoginHandler/build/

backend/.env

.DS_Store